body {
  text-shadow: 1px 1px 1px #fff; 
}

x-screen:before {
  content: "";
  z-index: -1;
  position: fixed;
  background-image: url('https://static.pexels.com/photos/19670/pexels-photo.jpg');
  background-size: cover;
  width: 104%;
  height: 104%;
  filter: blur(10px);
  left: -2%;
  top: -2%;
}

x-screen {
}
